main {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 25px;
}
header {
  padding: 15px 0;
}
.image.is-256x256 {
  height: 256;
  width: 256px;
}

.http-notify {
  position: absolute;
  right:calc(500% - 100px);
  top: 60%;
  width: 200px;
}
.is-hidden {
  opacity: 0.2;
  transition: all 1s ease-out;
}
.is-shown {
  opacity: 1;
}
